.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #05362e;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #05362e;
}